.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  gap: 15px;
  background-color: white;
  padding: 5% 5%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  margin: 0% 5% 0% 5%;
}

body {
  background-image: url('./assets/germany.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}